Options All -Indexes

# Definir errores a capturar y la ruta de redireccionamiento

ErrorDocument 403 http://localhost/facturadorcliente/403
ErrorDocument 404 http://localhost/facturadorcliente/404

RewriteEngine On

# Bloquear el acceso directo a archivos .html
RewriteCond %{THE_REQUEST} .html
RewriteRule ^ - [F,L]

# Bloquear el acceso directo a archivos .php
RewriteCond %{THE_REQUEST} .php
RewriteRule ^ - [F,L]

# Mapeo de rutas de error
RewriteRule ^403$ errors/404.html [L]
RewriteRule ^404$ errors/404.html [L]

# Mapeo de rutas válidas
#Rutas de inicio sesion y cerrar sesion
RewriteRule ^inicio$ index.php [L]
RewriteRule ^login$ procesar_login.php [L]
RewriteRule ^logout$ logout.php [L]

#Rutas de administradores
RewriteRule ^admin/dashboard$ admin/principal.php [L]
RewriteRule ^admin/registrar_users$ admin/registrar_users.php [L]
RewriteRule ^admin/actualizar_users$ admin/actualizar_users.php [L]
RewriteRule ^admin/eliminar_users$ admin/eliminar_users.php [L]
RewriteRule ^admin/calcular$ admin/calcular.php [L]

RewriteRule ^admin/admin$ admin/admin.php [L]
RewriteRule ^admin/permisos_pendientes$ admin/permisos_pendientes.php [L]
RewriteRule ^admin/permisos_registrados$  admin/permisos_registrados.php [L]
RewriteRule ^admin/register$  admin/register.php [L]
RewriteRule ^admin/permisos$  admin/permisos.php [L]
RewriteRule ^admin/trabajo$ admin/trabajo.php [L]
RewriteRule ^admin/vacaciones$ admin/vacaciones.php [L]
RewriteRule ^admin/funcionarios$ admin/funcionarios.php [L]

#Rutas de Jefes
RewriteRule ^jefe/dashboard$ jefe/principal.php [L]

#Rutas de Talento humanos
RewriteRule ^talento_h/dashboard$ talentoHumano/principal.php [L]

#Rutas de Funcionarios
RewriteRule ^funcionario/dashboard$ funcionario/principal.php [L]
RewriteRule ^admin/solicitud$ admin/solicitud.php [L]

#Ruta logs
RewriteRule ^admin/log$ funcionario/solicitud.php [L]
RewriteRule ^solicitar_permiso$ solicitar_permiso.php [L]
RewriteRule ^admin/solicitud_general$ admin/solicitud_general.php [L]
RewriteRule ^datos_individuales$ datos_individuales.php [L]


RewriteRule ^configuracion/configuracionAcumulados$ configuracion/config_acu.php [L]


RewriteRule ^admin/eliminar$ admin/eliminar_permiso.php [L]

RewriteRule ^procesar$ procesar_solicitudes.php [L]
RewriteRule ^permisos/aceptados$ admin/permisos_aceptados.php [L]
RewriteRule ^resta$ resta_individual_solicitud.php [L]
RewriteRule ^resta2$ resta2.php [L]
RewriteRule ^configuracion/procesar$ configuracion/config_vac.php [L]
RewriteRule ^funcionario/solicitudUser$ funcionario/solicitudUser.php [L]
RewriteRule ^permisos/rechazados$ admin/permisos_rechazados.php [L]
RewriteRule ^funcionario/rechazados$ funcionario/solicitudRechazada.php [L]

RewriteRule ^jefe/trabajoFuncionarios$ jefe/dias_funcionarios.php [L]
RewriteRule ^jefe/permisosSolicitados$ jefe/permisos_pendientes.php [L]
RewriteRule ^jefe/permisosAprobados$ jefe/permisos_aprobados.php [L]
RewriteRule ^jefe/permisosRechazados$ jefe/permisos_rechazados.php [L]


RewriteRule ^talentoHumano/registrarFuncionario$ talentoHumano/registrarFuncionario.php [L]
RewriteRule ^talentoHumano/permisosAprobados$ talentoHumano/permisosAceptados.php [L]
RewriteRule ^talentoHumano/permisosRegistrados$ talentoHumano/permisosRegistrados.php [L]


RewriteRule ^admin/registerFuncionarios$ admin/registrarFuncionarios.php [L]
RewriteRule ^admin/actualizarFuncionarios$ admin/actualizarFuncionario.php [L]
RewriteRule ^admin/eliminarFuncionarios$ admin/eliminarFuncionario.php [L]


RewriteRule ^solicitarPermiso$ solicitarPermiso.php [L]
RewriteRule ^admin/procesarSolicitudes$ admin/procesarSolicitudes.php [L]
RewriteRule ^admin/soliAceptadas$ admin/aceptarSoliRechazada.php [L]


RewriteRule ^funcionario/solicitarPermiso$ funcionario/solicitarPermiso.php [L]


RewriteRule ^jefe/procesarSolicitud$ jefe/procesarSolicitud.php [L]

RewriteRule ^talentoH/procesarRegistro$ talentoHumano/procesarRegistro.php [L]
RewriteRule ^talentoH/procesarEdicion$ talentoHumano/procesarEdicion.php [L]
RewriteRule ^talentoH/procesarEliminacion$ talentoHumano/procesarEliminacion.php [L]


RewriteRule ^talentoH/procesarSolicitud$ talentoHumano/procesarSolicitud.php [L]

RewriteRule ^admin/funcionariosTotales$ admin/funcionariosTotales.php [L]